@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");

.blue-container {
  width: 95%;
  margin: auto;
  margin-top: 80px;
  background-color: rgba(203, 226, 216, 0.83);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.05);
}

a {
  color: #2d2d2d;
}
a:hover {
  color: #f5f5f5;
}

#appointments h2.heading {
  color: white;
}

#appointments h3.subheading {
  color: white;
}

#genetic-testing h2.heading {
  color: #2d2d2d;
}

#team h2.heading {
  color: #2d2d2d;
  margin-top: 0px !important;
  margin-bottom: 30px !important;
}

#get-in-touch h2.heading {
  margin: auto;
  margin-top: 20px !important;
  margin-bottom: 0px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

#hero .herobox .tagline .improve {
  color: #1a9d9e;
  font-size: 55px;
  font-weight: 700;
}

#appointments .wellspring-icon {
  max-height: 150px;
  max-width: 150px;
  display: block;
  margin: auto;
}

#appointments .appt-cell {
  margin-bottom: 35px;
}

#genetic-testing .card-container {
  max-width: 100%;
  margin: auto;
}

#genetic-testing .card {
  box-shadow: 3px 5px rgba(0, 0, 0, 0.05);
}

#genetic-testing .icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 180px;
  height: 180px;
  background-color: #1a9d9e;

  border-radius: 90px;
}

#genetic-testing .icon-holder .testing-icon {
  max-width: 120px;
  max-height: 120px;
  display: block;
}

#genetic-testing .card-body {
  min-height: 500px;
}

#genetic-testing .card-body .card-title {
  text-align: center;
  color: #2d2d2d;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 400;
}

#genetic-testing .card-body .card-text {
  color: #2d2d2d;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}

#team .row.team-box {
  background-color: #1a9d9e;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 15px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  box-shadow: 4px 5px rgba(0, 0, 0, 0.1);
}

#team .team-member {
  height: 260px;
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 20%;
}

#team .row.team-box .person-name {
  font-family: "Montserrat Regular";
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color: white;
  padding-top: 1.2em;
  padding-bottom: 0.8em;
}

#team .row.team-box .subheading {
  font-size: 20px;
  color: white;
}

#team .row.team-box .quals {
  font-size: 16px !important;
}

#team p.bodytxt {
  font-size: 16px;
  padding-top: 0em;
  padding-right: 30px;
}

#more {
  display: none;
}

#team .read-more-btn {
  display: block;
  margin: auto;
}

#get-in-touch .row .line-break {
  background-color: #1a9d9e;
  margin: auto;
  height: 5px;
  width: 70%;
}

#get-in-touch .row .line-break.long {
  width: 100%;
  margin-bottom: 40px;
}

#get-in-touch .forms .row {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 8%;
  width: auto;
  margin: auto;
}

#get-in-touch .forms .row.form-group {
  padding-top: 40px !important;
}

#get-in-touch .forms .row .col-md-8 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#get-in-touch .forms .row .col-md-12.message {
  border-bottom: none !important;
  padding-top: 20px;
  padding-left: 0px;
  width: 100%;
}

#enter-name,
#enter-email,
#enter-phone,
#enter-message {
  background: transparent;
  border: none;
}

#enter-message {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#get-in-touch .row .btn-outline {
  margin: auto;
}

#get-in-touch .icon-small {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
}

#get-in-touch .row.contact {
  padding-top: 0px !important;
  padding-left: 8%;
  padding-right: 8%;
}

#get-in-touch .row.contact .col-md-8 {
  border-bottom: 0px !important;
}

#get-in-touch p.bodytxt {
  color: #2d2d2d;
}

@media only screen and (min-width: 1800px) {
  #genetic-testing .card-body {
    min-height: 550px !important;
  }

  .blue-container {
    width: 40% !important;

  }
}

@media only screen and (min-width: 992px) {
  .blue-container {
    width: 70%;
  }
  
  #get-in-touch .row.contact .col-md-8 p.bodytxt {
    text-align: left !important;

  }

  #team .team-member {
    margin-top: 40%;
  }

}

@media only screen and (min-width: 1200px) {
  .blue-container {
    width: 60%;
  }

  #hero {
    background-image: url("../images/beach_photo_crop_3.jpg");
  }

  #hero .herobox .btn-outline {
    float: left;
  }

  #hero .herobox .tagline .improve {
    text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px;
  }

  #genetic-testing .card-body {
    min-height: 625px;
  }

  #team .row.team-box .person-name {
    text-align: left;
  }

  #team .read-more-btn {
    display: block;
    margin: 0;
  }

  #get-in-touch .row .btn-outline {
    margin: 0px !important;
  }

  #get-in-touch .row .line-break {
    width: 50%;
  }

  #get-in-touch .row.contact {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
  }

  #get-in-touch .icon-small {
    margin-right: auto;
  }
}
