@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
  font-weight: 400;
}

p,
blockquote {
  font-size: 0.9em;
  line-height: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.green-container {
  width: 100%;
  background: #1a9d9e;
  align-items: center;
  padding-bottom: 15px;
}

.grey-container {
  width: 100%;
  background: #f5f5f5;
  align-items: center;
  padding-bottom: 15px;
}

.blue-container {
  width: 50%;
  margin: auto;
  background-color: rgba(203, 226, 216, 0.83);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.05);
}

#get-in-touch:before {
  content: "";
  background-color: #cbe2b8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 0;

}

.grey-container .row {
  width: 85% !important;
  margin: auto;
}

a {
  color: #2d2d2d;
}
a:hover {
  color: #f5f5f5;
}

.bg-green {
  background-color: #1a9d9e;
}

h2.heading {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat Regular";
  margin-top: 0;
  padding: 1em 1em;
  text-shadow: rgba(0, 0, 0, 0.1) 3px 3px 0px;
}

h3.subheading {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat Bold", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px;
}

p.bodytxt {
  font-size: 18px;
  padding: 25px;
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: white;
}

#appointments h2.heading {
  color: white;
}

#appointments h3.subheading {
  color: white;
}

#genetic-testing h2.heading {
  color: #2d2d2d;
}

#team h2.heading {
  color: #2d2d2d;
  margin-top: 0px !important;
  margin-bottom: 30px !important;
}

.btn-outline {
  background: #1a9d9e;
  border: 2px solid #000000;
  border-radius: 30px;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-text {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  background: #138485;
  color: #ffffff;
  border-color: #2d2d2d;
}


#mainNavBar {
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#mainNavBar .navbar-nav .nav-item .nav-link {
  font-size: 100%;
  font-weight: 600;
  padding: 0.8em 0;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #2d2d2d;
  font-family: "Montserrat", sans-serif;
}

#mainNavBar .navbar-brand {
  padding: 1.5em;
}

#mainNavBar .hamMenu {
  width: 80px;
  padding: 1em;
  margin-right: 20px;
}

#mainNavBar .navbar-nav .nav-item .nav-link.active,
#mainNavBar .navbar-nav .nav-item .nav-link:hover {
  color: #1a9d9e;
}

#mainNavBar .navbar-brand {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 240px;
  padding: 0.8em;
  background: transparent;
}

#mainNavBar.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fdfdfd;
  font-size: 0.9em;
}

#mainNavBar.navbar-shrink .navbar-brand {
  width: 180px;
  padding-left: 1.5em;
}

#hero {
  color: #ffffff;
  height: 80%;
  background-image: url("../images/beach_photo.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#hero:before {
  content: "";
  position: absolute;
  height: 80%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #2d2d2d, #2d2d2d);
  opacity: 0.6;
  z-index: 0;
}

#hero .herobox {
  margin: auto;
  width: 90%;
  z-index: 1;
}

#hero .herobox .welcome {
  margin: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

#hero .welcome .tagline {
  font-size: 50px;
  font-weight: 700px;
  line-height: 1.3em;
  padding: 0px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 0px;
}

#hero .welcome .tagline .improve {
  color: #1a9d9e;
  font-size: 55px;
  font-weight: 700;
}

#appointments .wellspring-icon {
  max-height: 150px;
  max-width: 150px;
  display: block;
  margin: auto;
}

#appointments .appt-cell {
  margin-bottom: 35px;
}

#genetic-testing .card-container {
  max-width: 100%;
  margin: auto;
}

#genetic-testing .card {
  box-shadow: 3px 5px rgba(0, 0, 0, 0.05);
}

#genetic-testing .icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 180px;
  height: 180px;
  background-color: #1a9d9e;

  border-radius: 90px;
}

#genetic-testing .icon-holder .testing-icon {
  max-width: 120px;
  max-height: 120px;
  display: block; 
}

#genetic-testing .card-body {
  min-height: 500px;
}

#genetic-testing .card-body .card-title {
  text-align: center;
  color: #2d2d2d;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 400;
}

#genetic-testing .card-body .card-text {
  color: #2d2d2d;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}

#team .row.team-box {
  background-color: #1a9d9e;
  margin: auto;
  border-radius: 15px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  box-shadow: 4px 5px rgba(0, 0, 0, 0.1);
}

#team .team-member {
  height: 260px;
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 60px;
}

#team .row.team-box .person-name {
  font-family: "Montserrat Regular";
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color :white;
  padding-top: 1.2em;
  padding-bottom: 0.8em;
}

#team .row.team-box .subheading {
  font-size: 20px;
  color: white;
}

#team .row.team-box .quals {
  font-size: 16px !important;
}

#team p.bodytxt {
  font-size: 16px;
  padding-top: 0em;
  padding-right: 30px;
}

#more {
  display: none;
}

#team .read-more-btn {
  display: block;
  margin: auto;
}






@media only screen and (min-width: 1800px) {
  .container {
    max-width: 75% !important;
  }

  #hero .herobox {
    margin-top: 6% !important;
  }

  .green-container .row {
    width: 75% !important;
    margin: auto;
  }

  .grey-container .row {
    width: 75% !important;
    margin: auto;
  }
  

  #genetic-testing .card-body {
    min-height: 550px !important;
  }


}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 80%;
  }
}

@media only screen and (min-width: 1100px) {
  .container {
    max-width: 95%;
  }

  .green-container .row {
    width: 90%;
    margin: auto;
  }


  #mainNavBar {
    background-color: transparent;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }

  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
  }

  h2.heading {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
  }

  h3.subheading {
    text-align: left;
  }

  p.bodytxt {
    text-align: left;
  }

  #mainNavBar .navbar-brand {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 260px;
    padding: 1em;
    background: transparent;
  }

  #mainNavBar .navbar-nav .nav-item .nav-link {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 1.1em;
    padding: 1.5em 1.2em !important;
    height: 20px;
  }

  #mainNavBar .navbar-nav .nav-item .btn-outline {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 1.5em 1.2em !important;
  }

  #mainNavBar.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fdfdfd;
    font-size: 0.9em;
    height: 120px;
    padding: 5px 0;
  }

  #mainNavBar.navbar-shrink .navbar-brand {
    width: 220px;
  }

  #hero {
    height: 95%;
    background-image: url("../images/beach_photo_crop_3.jpg");
    text-align: left;
  }

  #hero:before {
    height: 95%;
    opacity: 0.1;
  }

  #hero .herobox {
    height: 50%;
    margin: 0;
    position: left;
    margin-top: 2%;
    margin-left: 8%;
    width: 500px;
    text-align: left;
  }

  #hero .welcome {
    position: left;
    text-align: left;
    padding-top: 150px;
    font-size: 40px;
    font-weight: 700px;
    line-height: 1.5em;
  }

  #hero .welcome .btn-outline {
    float : left;
  }

  #hero .welcome .tagline {
    color: #2d2d2d;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px;
    text-align: left;
    font-weight: 400;
    font-size: 40px;
  }

  #hero .welcome .tagline .improve {
    text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px;
  }


  #genetic-testing .card-body {
    min-height: 625px;
  }

  #team .row.team-box .person-name {
    text-align: left;
  }
    
  #team .read-more-btn {
    display: block;
    margin: 0;
  }


}
